@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: "Montserrat";
}
body{
    margin: 0;
    overflow-x: hidden;
}

header{
    height: 45px;
    background-color: #333333;
}

.top{
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.top .left{
    color: #ccc;
    font-size: 13px;
    margin-top: 16px;
    padding-left: 350px;
}

.top .right{
    display: flex;
    padding-right: 350px;
}
.register a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #ccc;
    padding-right: 35px;
    padding-top: 16px;
}

.sign_in a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #ccc;
    padding-right: 80px;
    padding-top: 16px;
}

.cart a{
    text-decoration: none;
    width: 120px;
    display: block;
    color: #fff;
    background-color: #00c8c8;
    padding: 13px 25px;
    position: relative;
    font-weight: 400px;
}

.cart .fa-cart-shopping{
    padding-right: 25px;
}

.cart .fa-chevron-down{
    font-size: 10px;
    position: absolute;
    top: 20px;
    right: 30px;
}

nav,.menu_main ul{
    margin-top: 40px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo{
    margin-left: 100px;
}

.menu_main > ul{
    position: absolute;
    top: 39px;
    right: 120px;
    display: flex;
}

.menu_main > ul > li > a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    padding: 0 22px;
    text-transform: uppercase;
    color: #222222;
}

.menu_main li a:hover{
    color: #00c8c8;
}

.menu_main li  i:hover{
    color: #00c8c8;
}

ul li i{
    margin-left: 15px;
    position: absolute;
    font-size: 9px;
}


.menu_main li{
    position: relative;
}

.menu_main li:hover .sub_menu{
    visibility: visible;
}

.sub_menu{
    min-width: 470px;
    display: flex;
    position: absolute;
    box-shadow: 0 0 4px #828282;
    top: 40px;
    left: 16px;
    background-color: white;
    justify-content: space-around;
    height: 550px;
    visibility: hidden;
    z-index: 1;
    transition: 0.1s;
}

.sub_menu li a{
    display: block;
    text-decoration: none;
    color: #888888;
    padding: 10px;
}

.sale{
    top: 320px;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    width: 80%;
    height: 200px;
}

.sale h2{
    letter-spacing: 3px;
    margin-top: 50px;
    font-size: 32px;
    text-transform: uppercase;
}

.sale h3{
    margin-top: 0;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
}

input{
    height: 30px;
    border: 0.5px solid #ccc;
    width: 190px;
}

.input{
    position: relative;
    left: 55px;
    top: -8px;
}

.input i{
    position: absolute;
    right: 12px;
    top: 9px;
    color: gray;
    font-size: 16px;
}

.banner{
    margin-top: 40px;
    height: 333px;
    position: relative;
    background-color: #222222;
    opacity: 1;
}

.banner img{
    opacity: 0.3;
}

.banner .title{
    position: absolute;
    top: 115px;
    left: 580px;
    text-align: center;
}


.banner .title h3{
    margin: 0;
    padding-bottom: 15px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner .title h4{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
}

footer{
    background-color: #f8f8f8;

}

.content_footer{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.item_content li a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #575153;
    padding: 10px 0;
}


.item_content .title{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact .title{
    padding-top: 35px;
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.contact div{
    margin: 15px 0;
    font-size: 14px;
}

.box{
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-around;
}

.box_right{
    width: 50%;
    height: 200px;
    background-color: #00c8c8;
    margin: 20px;

}

.box_left{

    width: 50%;
    height: 200px;
    background-color: #222222;
    margin: 20px;
}

.content_box{
    margin-top: 60px;
   color: white;
   text-align: center;

}

.content_box h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 32px;
}

.content_box h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
}

.icon_box{
    margin-top: 90px;
    margin-left: 50px;
}

.icon_box a{
    color: white;
    text-transform: uppercase;
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

main{
    margin-bottom: 100px;
}

.product_view{
    max-width: 1200px;
    margin: 65px auto;
    display: flex;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

.product_view .left{
    padding-right: 15px;
}

.product_view .right{
    padding-left: 15px;
}

.img_left{
    position: relative;
}


.arrow_left{
    width: 45px;
    height: 50px;
    position: absolute;
    font-size: 24px;
    top: 350px;
    text-align: center;
}

.arrow_right{
    width: 45px;
    height: 50px;
    position: absolute;
    font-size: 24px;
    top: 350px;
    right: 0;
    text-align: center;
}

.arrow_left i, .arrow_right i{
    margin-top: 12px;
}

.arrow_left:hover, .arrow_right:hover{
    background-color: #00c8c8;
    color: white;
}

.right .title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 30px;
}

.review{
    display: flex;
}

.review > span{
    color: #828282;
    font-size: 11px;
}

.review .star{
    font-size: 12px;
}

.star span{
    padding: 0 10px;
    color: #828282;
    font-weight: bold;
}

.review a{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    color: #00c8c8;
    padding: 0 10px;
    font-weight: bold;
}

.review .share_icon{
    color: #828282;
    font-size: 12px;
    padding: 0 10px; 
}

.review .share_icon i{
    padding: 0 16px; 
}

.review .star .fas{
    color: #ded3aa;
}

.price h3{
    font-size: 30px;
    font-weight: 300;
    color: #575153;

}

.price{
    display: flex;
}

.price .old_price{
    position: relative;
    text-decoration: line-through;
    padding: 0 15px;
}

.price .new_price{
    position: relative;
    padding: 0 20px;
}

.price .old_price i{
    font-size: 17px;
    position: absolute;
    top: 6px;
    left: 3px;
}

.price .new_price i{
    font-size: 17px;
    position: absolute;
    top: 6px;
    left: 8px;
}

.right .info div{
    font-size: 15px;
    color: #575153;
    margin-bottom: 15px;
}

.right .info div span{
    color: #00c8c8;
}

.right .desc{
    margin-top: 30px;
    color: #575153;
    font-size: 14px;
}

.right .desc ul{
    margin-top: 10px;
    list-style-type: disc;
    margin-left: 13px;
}

.right .desc li{
    padding: 3px;
}

.selection{
    display: flex;
    margin-top: 40px;
}

.selection .select{
    padding-right: 30px;
}

.select label{
    display: block;
    padding-bottom: 15px;
}

.colour form input, .size form input{
    height: 35px;
    width: 160px;
    padding: 0 5px;
}

.select{
    position: relative;
}

.colour form i, .size form i{
    position: absolute;
    right: 40px;
    top: 47px;
    font-size: 12px;
    color: #575153;
}

.QIY .box{
    height: 35px;
    width: 35px;
    line-height: 36px;
    color: #575153;
    border: 1px solid #ccc;
    position: relative;
}

.QIY i{
    font-size: 12px;
    text-align: center;
    color: #575153;
    height: 17.5px;
    width: 35px;
    border: 1px solid #ccc;
    line-height: 17.5px;
    top: 0;
    right: 10px;
}

.QIY .fa-chevron-up{
    position: absolute;
    top: 34px;
    right: -6px;
}

.QIY .fa-chevron-down{
    position: absolute;
    top: 52px;
    right: -6px;
}


.btn{
    display: flex;
    margin-top: 60px;
}

.btn_cart button{
    width: 240px;
    height: 60px;
    color: #575153;
    letter-spacing: 3px;
    margin-right: 27px;
    border: 2px solid #828282;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn_lb button{
    width: 300px;
    height: 60px;
    color: #575153;
    letter-spacing: 3px;
    border: 2px solid #828282;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn_cart button i, .btn_lb button i{
    padding: 0 8px;
}


.btn_cart button:hover, .btn_lb button:hover{
    background-color: black;
    color: white;
}

.menu_desc{
    max-width: 1200px;
    margin: 38px auto;
}

.menu_desc ul{
    height: 50px;
    display: flex;
    background-color: #f8f8f8;
}

.menu_desc li a{
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 50px;
    padding: 0 43px;
    text-transform: uppercase;
    color: #575153;
}

.menu_desc li a:hover{
    background-color: black;
    color: white;
}

.menu_desc li a.active{
    background-color: black;
    color: white;
}

.pra{
    max-width: 1200px;
    margin: auto;
    font-size: 13px;
}

.pra .title{
    text-transform: uppercase;
    color: #575153;
}

.pra div{
    padding: 10px;
}